##  CPAP parts cooling Fan
[fan_generic CPAP_FAN0]
pin: PB14
kick_start_time: 0.3
off_below: 0.12
max_power: 1.0
shutdown_speed: 0
#cycle_time: 0.010
#cycle_time: 0.008
#cycle_time: 0.02
#cycle_time: 0.002
#cycle_time: 0.01
#cycle_time: 0.0005 #(2 kHz)
#cycle_time: 0.0002 #(5 kHz)
#cycle_time: 0.0001 #(10 kHz)
#cycle_time: 0.00005 #(20 kHz)
hardware_pwm: true

[servo CPAP_SERVO0]
pin: PB15
#   PWM output pin controlling the servo. This parameter must be
#   provided.
maximum_servo_angle: 180
#   The maximum angle (in degrees) that this servo can be set to. The
#   default is 180 degrees.
#minimum_pulse_width: 0.001
minimum_pulse_width: 0.0005
#   The minimum pulse width time (in seconds). This should correspond
#   with an angle of 0 degrees. The default is 0.001 seconds.
#maximum_pulse_width: 0.002
maximum_pulse_width: 0.0025
#   The maximum pulse width time (in seconds). This should correspond
#   with an angle of maximum_servo_angle. The default is 0.002
#   seconds.
initial_angle: 90
# 90 degrees = parts fan closed, circulation fan open
# above >105 both open, part fan gradually opens more up to 160 fully open
# below < 90 degrees, circulation gradually fan closes, part fan gradually opens, 15 deg = circulation fully closed, part fan fully open
# this means we have two ranges. one where flow is always shared with circulation fan, and another where flow is going ot partsfan only

#degrees parts fan gradually opens
#   Initial angle (in degrees) to set the servo to. The default is to
#   not send any signal at startup.
#initial_pulse_width:
#   Initial pulse width time (in seconds) to set the servo to. (This
#   is only valid if initial_angle is not set.) The default is to not
#   send any signal at startup.

[gcode_macro CPAP_STOP]
gcode:
  { action_respond_info( "CPAP: SERVO=0 SPEED=0" ) }
  SET_FAN_SPEED FAN=CPAP_FAN0 SPEED=0.0
  SET_GCODE_VARIABLE MACRO=M106 VARIABLE=cpap_power VALUE=0.0

[gcode_macro M106]
rename_existing: M106.99
variable_s_raw:0.0
variable_cpap_power: 0.0
variable_angle: 90
variable_cpap_max_power: 1.00 # 0.40
gcode:
  {% set s_raw = params.S|float %}
  {% set s_clamped = [ [s_raw, 0]|max , 255]|min %}   ## clamp S to 0–255
  {% set speed = s_clamped / 255.0 %}

  # Valve geometry
  {% set angle_closed = 90 %}
  {% set angle_start_open = 105 %}
  {% set angle_full_open = 170 %}

  # CPAP fan power
  {% set cpap_min = 0.13 %}

  {% if speed <= 0 %}
    # 0% → fully closed (90°), CPAP off
    {% set angle = angle_closed %}
    {% set cpap_power = 0 %}

  {% elif speed <= 0.6 %}
    # 0–50% → valve always between 105° and 160°
    {% set frac = speed / 0.6 %}
    {% set angle = angle_start_open + (angle_full_open - angle_start_open) * frac %}
    {% set cpap_power = cpap_min %}

  {% else %}
    # 50–100% → valve fully open (160°), CPAP ramps exponentially
    {% set frac = (speed - 0.5) / 0.5 %}
    {% set frac_exp = frac * frac %}
    {% set angle = angle_full_open %}
    {% set cpap_power = cpap_min + frac_exp * (cpap_max_power - cpap_min) %}
  {% endif %}


  # Apply outputs once
  SET_SERVO SERVO=CPAP_SERVO0 ANGLE={ angle }
  SET_FAN_SPEED FAN=CPAP_FAN0 SPEED={ cpap_power }
  SET_GCODE_VARIABLE MACRO=M106 VARIABLE=cpap_power VALUE={ cpap_power }
  SET_GCODE_VARIABLE MACRO=M106 VARIABLE=angle VALUE={ angle }
  SET_GCODE_VARIABLE MACRO=M106 VARIABLE=s_raw VALUE={ s_raw }

  { action_respond_info("M106: Z_HEIGHT=%s SPEED=%.2f S=%s CPAP_FAN=%.2f SERVO_ANGLE=%.3f" % (printer.toolhead.position.z, speed|float, s_raw|float, cpap_power|float, angle|float)) }


[gcode_macro M107]
rename_existing: M107.99
gcode:
  M106 S0